@use "sass:map";
@use '@assets/global' as *;

.container {
  @include flexbox(column, center, center);
  @include size(map.get($percentage, 100), auto);
  min-height: 100vh;
  background-color: var(--background-colour);
  @include transition(background-color map.get($transition, fast) ease);
  animation: fadeIn map.get($transition, medium) ease-in-out;
  @include font-style(map.get($font-sizes, md), map.get($font-weights, regular));
}

.contentCard {
  @include flexbox(column, center, center);
  min-height: map.get($spacing, '6xl');
  width: map.get($percentage, 100);
}