@use "sass:map";
@use '@assets/global' as *;

.container {
  @include flexbox(row, center, center);
  @include size(map.get($viewport, full-width), map.get($viewport, full-height));
  background-color: var(--background-colour);
  @include font-style(map.get($font-sizes, md), map.get($font-weights, regular));
  @include transition(background-color map.get($transition, medium) ease);

  &:hover {
    animation: pulse map.get($transition, slow) ease-in-out infinite;
  }
}