@use 'sass:map';
@use '@assets/global' as *;

.container {
  background-color: var(--background-colour);
  animation: fadeIn map.get($transition, medium) ease-in-out;
  @include flexbox(row, center, center);
  @include size(map.get($percentage, 100), map.get($percentage, 100));
  @include transition(background-color map.get($transition, fast) ease);
  @include font-style(map.get($font-sizes, md), map.get($font-weights, regular));
}

.constructionMessage {
  text-align: center;
  margin-bottom: map.get($spacing, xl);
  padding: map.get($spacing, xl);
  @include border-radius(map.get($border, sm));
  @include flexbox(column, center, center);
}

.constructionMessageTitle {
  margin-bottom: map.get($spacing, md);
  color: var(--primary-colour);
  @include font-style(map.get($font-sizes, lg), map.get($font-weights, bold));
}

.constructionMessageText {
  color: var(--text-colour);
  line-height: map.get($font-heights, normal);
  @include font-style(map.get($font-sizes, md), map.get($font-weights, regular));
}