@use "sass:map";
@use '@assets/global' as *;

.container {
  @include flexbox(column, flex-start, center);
  @include size(map.get($percentage, 100), auto);
  min-height: 100vh;
  background-color: var(--background-colour);
  @include font-style(map.get($font-sizes, md), map.get($font-weights, regular));
  @include transition(background-color map.get($transition, fast) ease);
  animation: fadeIn map.get($transition, medium) ease-in-out;
}

.formCard {
  width: map.get($percentage, 100);
}

.form {
  width: map.get($percentage, 100);
}

.grid {
  display: grid;
  gap: map.get($spacing, lg);
  grid-template-columns: 1fr;

  @include breakpoint(tablet) {
    grid-template-columns: 1fr 1fr;
  }
}

.fullRow {
  grid-column: 1 / -1;
}

.actions {
  @include flexbox(row, flex-end, center);
  flex-wrap: wrap;
  gap: map.get($spacing, md);
  margin-top: map.get($spacing, xl);
}