@use "sass:map";
@use '@assets/global' as *;

.toggle {
    background-color: var(--border-colour);
    padding: map.get($spacing, '2xs');
    cursor: pointer;
    user-select: none;
    border: none;
    @include flexbox(row, flex-start, center);
    @include border-radius(map.get($spacing, '4xl'));
    @include size(map.get($spacing, '2xl'), map.get($spacing, lg));
    @include transition((background-color map.get($transition, fast) ease), (outline map.get($transition, fast) ease));

    &:hover:not(:disabled) {
        background-color: var(--border-colour-strong);
    }

    &:focus-visible {
        @include theme-aware-focus;
    }

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }

    &[data-ison="true"] {
        background-color: var(--accent-colour);
        justify-content: flex-end;

        &:hover:not(:disabled) {
            background-color: var(--accent-colour-hover);
        }
    }
}

.switch {
    background-color: var(--background-colour);
    @include border-radius(map.get($percentage, 100));
    @include size(map.get($spacing, md));
    @include transition(transform map.get($transition, fast) ease);

    .toggle[data-ison="true"] & {
        transform: translateX(map.get($spacing, lg));
    }
}