@use 'sass:map';
@use '@assets/global' as *;

.container {
  margin-left: map.get($spacing, md);
  position: relative;
  padding: map.get($spacing, '2xs') map.get($spacing, xs);
  cursor: pointer;
  aspect-ratio: 1/1;
  @include size(calc(map.get($spacing, xl) + map.get($spacing, xs)));
  @include border-radius(map.get($spacing, xl));
  @include flexbox(row, center, center);
}

.light {
  background-color: map.get($neutral, black);
}

.dark {
  background-color: map.get($neutral, white);
}

.container input {
  display: none;

  &+.toggle {
    position: relative;
    aspect-ratio: 1/1;
    @include transform(1, -2deg);
    @include box-shadow(map.get($spacing, xs),
      -#{map.get($spacing, xs)},
      0,
      0,
      map.get($neutral, white),
      true);
    @include size(calc(map.get($spacing, md) + map.get($spacing, '2xs')));
    @include border-radius(map.get($percentage, 50));
    @include transition((box-shadow map.get($transition, medium) ease map.get($transition, 0)),
      (transform map.get($transition, medium) ease map.get($transition, 0)));

    &::before,
    &::after {
      content: '';
      position: absolute;
      aspect-ratio: 1/1;
      @include size(inherit);
    }

    &::before {
      left: map.get($spacing, 0);
      top: map.get($spacing, 0);
      @include transition(background map.get($transition, fast) ease);
      @include border-radius(inherit);
    }

    &::after {
      margin: -#{map.get($spacing, '3xs')} 0 0 -#{map.get($spacing, '3xs')};
      aspect-ratio: 1/1;

      top: map.get($percentage, 50);
      left: map.get($percentage, 50);

      box-shadow: 0 -#{map.get($spacing, sm)} 0 map.get($neutral, black),
      0 map.get($spacing, sm) 0 map.get($neutral, black),
      map.get($spacing, sm) 0 0 map.get($neutral, black),
      -#{map.get($spacing, sm)} 0 0 map.get($neutral, black),
      map.get($spacing, xs) map.get($spacing, xs) 0 map.get($neutral, black),
      -#{map.get($spacing, xs)} map.get($spacing, xs) 0 map.get($neutral, black),
      map.get($spacing, xs) -#{map.get($spacing, xs)} 0 map.get($neutral, black),
      -#{map.get($spacing, xs)} -#{map.get($spacing, xs)} 0 map.get($neutral, black);

      @include transform(0);
      @include size(map.get($spacing, '2xs'));
      @include border-radius(map.get($percentage, 50));
      @include transition(all map.get($transition, fast) ease);
    }
  }

  &:checked+.toggle {
    @include transform(0.5, 0deg);
    @include box-shadow(map.get($spacing, xl),
      -#{map.get($spacing, xl)},
      0,
      0,
      map.get($neutral, black),
      true);

    &::before {
      background: map.get($neutral, black);
      @include transition(background map.get($transition, fast) ease map.get($transition, 0));
    }

    &::after {
      @include transform(1.5);
      @include transition(transform map.get($transition, medium) ease map.get($transition, 0));
    }
  }
}