@use "sass:map";
@use '@assets/global' as *;

.container {
  @include flexbox(row, center, center);
  @include size(calc(map.get($spacing, xl) + map.get($spacing, xs)));
  @include box-shadow(map.get($spacing, 0), map.get($spacing, 0), map.get($spacing, sm), map.get($spacing, '3xs'), var(--shadow-colour));
  @include border-radius(map.get($spacing, xl));
  position: relative;
  margin-left: map.get($spacing, md);
  padding: map.get($spacing, '2xs') map.get($spacing, xs);
  cursor: pointer;
}

.toggle {
  @include flexbox(row, center, center);
  background-color: var(--surface-colour);
  border: none;
  cursor: pointer;
  @include transition((background-color map.get($transition, fast) ease), (outline map.get($transition, fast) ease));

  &:hover:not(:disabled) {
    background-color: var(--surface-colour-hover);
  }

  &:focus-visible {
    @include theme-aware-focus;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }

  &[data-ison='true'] {
    background-color: var(--accent-colour);
    justify-content: flex-end;

    &:hover:not(:disabled) {
      background-color: var(--accent-colour-hover);
    }
  }
}

.switch {
  @include size(map.get($spacing, md));
  @include border-radius(map.get($percentage, 100));
  background-color: var(--background-colour);
}

.icon {
  @include size(map.get($spacing, lg));
  padding-right: map.get($spacing, sm);
}

.iconLeft {
  @extend .icon;
  color: var(--text-colour-muted);
}

.iconRight {
  @extend .icon;
  color: var(--accent-colour);
  padding-right: map.get($spacing, 0);
  padding-left: map.get($spacing, sm);
}

.disabled {
  cursor: not-allowed;
  display: none;
}