@use "sass:map";
$breakpoints: (
  // 480px–767px
  'mobile-landscape': (min: 30rem, max: 47.9375rem),
  // 768px–991px
  'tablet': (min: 48rem, max: 61.9375rem),
  // 992px–1199px
  'tablet-landscape': (min: 62rem, max: 74.9375rem),
  // 1024px–1439px
  'laptop-only': (min: 64rem, max: 89.9375rem),
  // 1024px+
  'laptop': (min: 64rem),
  // 1200px+
  'desktop': (min: 75rem)
);

@mixin breakpoint($size) {
  @if map.has-key($breakpoints, $size) {
    $breakpoint: map.get($breakpoints, $size);
    $min: map.get($breakpoint, min);
    $max: map.get($breakpoint, max);

    @if $max {
      @media (min-width: #{$min}) and (max-width: #{$max}) {
        @content;
      }
    } @else {
      @media (min-width: #{$min}) {
        @content;
      }
    }
  } @else {
    @content;
  }
}