// Colours
// Primary
$primary: (
  1: #4a90e2,
  2: #357ABD,
  3: #2A5D9E
);

// Secondary
$secondary: (
  1: #e67e22,
  2: #d35400,
  3: #f1c40f
);

// Neutrals
$white: #fdfdfd;
$black: #2c3e50;

// Greys
$grey: (
  1: #ecf0f1,
  2: #bdc3c7,
  3: #95a5a6,
  4: #7f8c8d,
  5: #34495e,
  6: #2c3e50
);

// Colour scheme
$colour-scheme: (
  light: light,
  dark: dark
);